@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 20px;
    font-size: 60px;
    text-align: center;
}

.container {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.boards {
    width: 100vw;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 1;
    padding-bottom: 10px;
}

.background {
    background: darkslategray;
}

.board {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
}

.cell,
.cell1 {
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.cell:hover,
.cell1:hover {
    background-color: grey;
    box-shadow: inset 40px 0 0 0 lightgray;
    color: lightgray;
}

.ship {
    background-color: black;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.miss {
    background-color: gray;
    color: gray;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.hit {
    background-color: green;
    color: green;
width: 40px;
    height: 40px;
    border: 1px solid black;
}

.placed {
    background-color: red;
}

.endgame {
    position: fixed;
    background-color: lightgray;
    width: 300px;
    height: 30vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startgame {
    position: absolute;
    z-index: 100;
    background-color: lightgray;
    border-radius: 10px;
    min-width: 200px;
    max-width: 600px;
    height: 80vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.startgameButton {
    border-radius: 5px;
    border: none;
    width: 70px;
    height: 30px;
}

.startgameButton:hover {
    background-color: #1a3843;
    color: white;
}

.ships {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.ship1 {
    width: 40px;
    height: 41px;
    background-color: black;
}

.ship2 {
    width: 83px;
    height: 42px;
    background-color: black;
}

.ship3 {
    width: 83px;
    height: 41px;
    background-color: black;
}

.ship4 {
    width: 125px;
    height: 40px;
    background-color: black;
}

.ship5 {
    width: 166px;
    height: 41px;
    background-color: black;
}

.dragging {
    background-color: #1a3843;
}

footer {
    height: 30px;
    width: 100vw;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.newgameButton {
    border-radius: 5px;
    border: none;
    width: 70px;
    height: 30px;
}

.newgameButton:hover {
    background-color: #1a3843;
    color: white;
}

.player,
.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
}