@import url('https://fonts.googleapis.com/css2?family=Island+Moments&display=swap');
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 30px;
    font-size: 80px;
}

.container {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.background {
    background: darkslategray;
}

.board {
    width: 350px;
    display: flex;
    flex-wrap: wrap;

}

.cell,
.cell1 {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    /* background-color: white;
    box-shadow: inset 0 0 0 0 lightgray; */
}

.cell:hover,
.cell1:hover {
    background-color: grey;
    box-shadow: inset 40px 0 0 0 lightgray;
    color: lightgray;
}

.ship {
    background-color: black;
    width: 40px;
    height: 40px;
    border: 1px solid black;
}

.miss {
    background-color: gray;
    color: gray;
}

.hit {
    background-color: green;
    color: green;
}

.placed {
    background-color: gray;
}

.endgame {
    position: fixed;
    background-color: lightgray;
    width: 65vw;
    height: 30vh;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startgame {
    position: absolute;
    z-index: 100;
    background-color: lightgray;
    border-radius: 10px;
    width: 60vw;
    height: 80vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.startgameButton {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
}

.ships {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.ship1 {
    width: 40px;
    height: 40px;
    background-color: black;
}

.ship2 {
    width: 83px;
    height: 42px;
    background-color: black;
}

.ship3 {
    width: 83px;
    height: 40px;
    background-color: black;
}

.ship4 {
    width: 125px;
    height: 40px;
    background-color: black;
}

.ship5 {
    width: 166px;
    height: 40px;
    background-color: black;
}

.dragging {
    background-color: #1a3843;
}

footer {
    height: 30px;
    padding: 10px;
}